@charset "utf-8";
*{margin: 0; padding: 0; border: 0; font-size: 100%;}
#background {
	background-color: #61c3be;
}
.title {
	font-family: comfortaa;
	text-align: center;
	padding: 0.5em;
	font-size: 30px;
}
.subtext {
	font-family: comfortaa;
	text-align: center;
	padding: 0.5em;
	font-size: 25px;
}
.first {
	text-align: left;
	font-family: comfortaa;
	font-size: 20px;
}
.box {
	font-family: comfortaa;
	text-align: center;
	background-color: white;
	font-size: 20px;
	margin-left:350px;
	margin-right:350px;
}
.jumbotron {
	font-family: comfortaa;
	padding: 0.5em;
	font-size: 30px
}
.end {
	text-align: right;
	font-family: comfortaa;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 20px;
}
.navbar {
	background-color: #ff8302; 
	width: 100%;
}
