@charset "utf-8";
*{margin: 0; padding: 0; border: 0; font-size: 100%;}

.title {
	font-family: comfortaa;
	text-align: center;
	padding: 0.5em;
	font-size: 30px;
}
.colortitle {
	font-family: comfortaa;
	text-align: center;
	color:#ff8302;
	padding: 0.5em;
	font-size: 30px;
}
.subtext {
	font-family: comfortaa;
	text-align: center;
	padding: 0.5em;
	font-size: 25px;
}

container-green {
	border-style:solid!important; 
	border-color: #88e2ca!important;
	margin-left: 10px!important;
	margin-right: 10px!important;
}
container-orange  {
	border-style:solid!important; 
	border-color: #f8b21e!important;
	margin-left: 10px!important;
	margin-right: 10px!important;
}
h3 {
	font-family: comfortaa;
	text-align: center;
	padding: 0.5em;
	font-size: 20px;
}
h4 {
	float: left;
	font-family: comfortaa;
	text-align: left;
	padding: 0.5em;
	font-size: 10px;
}
h5 {
	float: right;
	font-family: comfortaa;
	text-align: left;
	padding: 0.5em;
	font-size: 10px;
}
.endtext {
	font-family: comfortaa;
	text-align: center;
	padding: 0.5em;
	font-size: 15px;
}
.first {
	text-align: left;
	font-family: comfortaa;
	font-size: 20px;
}
.box {
	font-family: comfortaa;
	text-align: center;
	background-color: white;
	font-size: 20px;
	margin-left:150px;
	margin-right:150px;
}
.jumbotron {
	font-family: comfortaa;
	padding: 0.5em;
	font-size: 30px
}
.end {
	text-align: right;
	font-family: comfortaa;
	margin-left: 150px;
	margin-right: 150px;
	font-size: 20px;
}
.navbar {
	background-color: #ff8302; 
	width: 100%;
}
.btn {
	font-family: comfortaa;
	text-align: center;
	background-color: #88e2ca!important;
	font-size: 20px;
	color: white!important;
	border-color:#61c3be!important; 
}

@media screen and (max-width: 1400px) {
	.title {
		font-family: comfortaa;
		text-align: center;
		padding: 0.5em;
		font-size: 25px;
	}
	.colortitle {
		font-family: comfortaa;
		text-align: center;
		color:#ff8302;
		padding: 0.5em;
		font-size: 30px;
	}
	.subtext {
		font-family: comfortaa;
		text-align: center;
		padding: 0.5em;
		font-size: 20px;
	}
	.container-green {
		border-style: solid; 
		border-color: #88e2ca;
		margin-left: 10px;
		margin-right: 10px;
	}
	.container-orange  {
		border-style:solid; 
		border-color: #f8b21e;
		margin-left: 10px;
		margin-right: 10px;

	}
	h3 {
		font-family: comfortaa;
		text-align: center;
		padding: 0.5em;
		font-size: 15px;
	}
	h4 {
		float: left;
		font-family: comfortaa;
		text-align: left;
		padding: 0.5em;
		font-size: 10px;
	}
	h5 {
		float: right;
		font-family: comfortaa;
		text-align: left;
		padding: 0.5em;
		font-size: 10px;
	}
		.endtext {
		font-family: comfortaa;
		text-align: center;
		padding: 0.5em;
		font-size: 10px;
	}
	.first {
		text-align: left;
		font-family: comfortaa;
		font-size: 15px;
	}
	.box {
		font-family: comfortaa;
		text-align: center;
		background-color: white;
		font-size: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.jumbotron {
		font-family: comfortaa;
		padding: 0.5em;
		font-size: 25px
	}
	.end {
		text-align: right;
		font-family: comfortaa;
		margin-left: 20px;
		margin-right: 20px;
	}
	.navbar {
		background-color: #ff8302; 
		width: 100%;
	}
	.btn {
		font-family: comfortaa;
		text-align: center;
		background-color: #88e2ca!important;
		font-size: 20px;
		color: white!important;
		border-color:#61c3be!important; 
	}
}
#background {
	background-color: #61c3be;
}
